body {
    background-image: url("../images/green_gobbler.png");
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }


.topic-btn{
    margin-top: 8px; 
}

#buttons-view{
    margin-top: 50px; 
    margin-bottom: 30px; 
}

.container{
    margin-top: 20px;
    padding-left: 0px;  
}
 
#topics-view {
    margin-top: 150px; 
    overflow: hidden;
    padding-left: 20px; 
    width: 100%;
    
}

img {
    /* display: block; */
    width: auto; 
    max-width: 300px;
    height: auto;
}


#topic-input{ 
  float: right;
  margin-right: 50px; 
  padding-right: 22px; 
}



#topic-form{
    float: right; 
    background-image: url("../images/backgroundDesign.jpg");
    padding: 35px 0px 10px 10px;
    margin-top: 10px;
}

#add-topic{
    margin-right: 180px; 
    margin-top: 10px; 
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #60a3bc;
    padding: 10px;
    border-radius: 15px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}

#add-topic:hover {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #60a3bc;
  padding: 12px;
  border-radius: 20px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  
  }

  

.topic-btn{
    margin-right: 5px; 

}

label {
    font-size: 16px;
    position: absolute;
    transform: translate(0, -30px) scale(1);
    font-weight: bold;
    color: white; 
  }


h1.title{
    float: left; 
    margin-bottom: 1.0000em;
    padding-top: 30px; 
    color: white; 
    padding-left: 100px; 
}

  /*style for columns when display is max-width 768px */
  @media screen and (max-width: 758px) {
    h1.title {
      font-size: 2.0em; 
    }
  }
  

@media screen and (max-width: 640px) {
    #topics-view{
      height: auto;
      margin-bottom: 70px; 
    }
  }

  @media screen and (max-width: 640px) {
    #topic-form{
    float: left; 
    margin-right: 0px; 
    }
  }

  @media screen and (max-width: 640px) {
    h1.title{
    font-size: 1em; 
    float: left; 
    padding: 0; 
    background-color: black; 
    width: 30%; 
    margin-top: 40px; 
    text-align: center; 
    padding-left: 10px; 
    }
  }


  @media screen and (max-width: 640px) {
    img.animated-gif{
    width: 100px;
    height: auto;
    padding: 0px; 
    margin: 0px; 
    float: none; 
   
    
    }
  }



  @media screen and (max-width: 640px) {
    #buttons-view{
        float: left; 
        margin: 1.0em; 
    }
  }

  @media screen and (max-width: 640px) {
    .topic-btn{
        float: left; 
    }
  }
  .topic {
    float: left; 
}




  




  img.animated-gif{
    width: 200px;
    height: auto;
    float: right; 
  }

header{
    background-color: black; 
    height: 115px; 
    padding: 0px; 
    margin: 0px; 
}

button,
div,
form,
input {
  margin: 10px;
}


.topic-btn {
  margin-top: 8px; 
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #60a3bc;
  padding: 10px;
  border-radius: 15px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
 
}

.topic-btn:hover {
color: #fff !important;
text-transform: uppercase;
text-decoration: none;
background: #60a3bc;
padding: 12px;
border-radius: 20px;
display: inline-block;
border: none;
transition: all 0.4s ease 0s;

}


a:visited {
  outline: 0; 
  border: none;
  outline:none
}

